@charset  "UTF-8";

h1 {
	font-family: Arial;
	font-size:  30pt;
	color: #0E0FB6;
	text-shadow:  2px 2px 20px black;
	text-indent: 30px
}
body {
	background-color: lightblue;
}
/* Formatação da Interface */
div#interface {
	width: 1000px;
    background-color: #ffffff;
    margin: 10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}
/* Formatação da Imagem */
img#img-01 {
	display: block;
	width: 998px;
	height: 260px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0,.5);
}
/* Formatação do Menu */
nav#menu {
	display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 270px;
    left: 580px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}
/* Fim da Formatação do Menu */